<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RepositoryType" value="PersonRepository.Service.ServiceRepository, &#xD;&#xA;         PersonRepository.Service, Version=1.0.0.0, Culture=neutral"
                                                                    />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersonService" />
        <binding name="BasicHttpBinding_IPersonService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62957/PersonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
        contract="MyService.IPersonService" name="BasicHttpBinding_IPersonService" />
      <endpoint address="http://localhost:62957/PersonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService1"
        contract="MyService.IPersonService" name="BasicHttpBinding_IPersonService1" />
    </client>
  </system.serviceModel>
</configuration>